* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Raleway', arial, sans-serif;
    font-size: 100%;
    margin: 0;
}

/*header size defined by navbar height. Font scalable by view width. zindex to for fade*/
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    justify-content: center;
    background-image: url("test.jpg");
    background-position: center;
    background-size: cover;
    background-color: #AEAEAE;
    font-size: 4vw;
    color: #AEAEAE;
}

/*header text*/
.header h1 {
    position: fixed;
    z-index: 1;
    align-self: center;
}

.header h2 {
    align-self: flex-end;
    color: #AEAEAE;
    font-size: 2vw;
}

/*main flex container*/
.main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282828;
}

.album_img {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282828;
}

/*album images on main page*/
.album_img img {
    margin-top: 15px;
    max-width: 95%;
    max-height: calc(98vh - 51px - 10px);
}

/*homepage album grid with text bar*/
.album {
    margin-left: 2.5%;
    display: grid;
    grid-template-columns: 97.5%;
    grid-gap: 10px;
    grid-template-areas:
        "photo"
        "description";
    z-index: 2;
    margin-top: 2%;
}

.photo {
    grid-area: photo;
}

.description {
    grid-area: description;
}

.description p {
    color: #AEAEAE;
    align-self: end;
}

/*album images properties*/
.album img {
    max-width: 100%;
    max-height: calc(98vh - (3 * 51px) - 10px);
    border-radius: 5px;
}

/*lazy loading transitions*/
.b-lazy {
    transition: opacity 500ms ease-in-out;
    max-width: 100%;
    opacity: 0;
}

.b-lazy.b-loaded {
    opacity: 1;
}

/*Navbar*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AEAEAE;
    z-index: 3;
}

ul.topnav li {
    float: none;
}

ul.topnav li a {
    display: block;
    color: #282828;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #282828;
    color: #AEAEAE;
}

ul.topnav li a.active {
    background-color: #C9C9C9;
}

ul.topnav li.right {
    float: none;
}

ul.topnav li.center {
    display: none;
}

/*responsive for screen width. mobile first design*/
@media screen and (min-width: 600px) {
    .header {
        background-image: url("test2.jpg");
        color: #282828;
    }

    ul.topnav {
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
    }

    ul.topnav li.right {
        float: right;
    }

    ul.topnav li.center {
        float: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
    }

    ul.topnav li {
        float: left;
    }

    .album {
        padding-left: 1%;
        grid-template-columns: 80% auto;
        grid-template-areas:
            "photo description";
    }

    .album img {
        max-height: calc(98vh - 51px - 10px);
    }
}

.footer {
    padding: 20px;
    text-align: center;
    background: #AEAEAE;
}