* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
}
/*header size defined by navbar height. Font scalable by view width. zindex to for fade*/
.header {
    display: flex;
    height: calc(100vh - 51px);
    justify-content: center;
    background: #AEAEAE;
    color: #282828;
    font-size: 4vw;
    z-index: 1;
}
/*header text*/
.header h1 {
    opacity: 1;
    position: fixed;
}
/*gradient which controls fade*/
.fadeTop {
    width: 100%;
    height: calc(100vh - 51px);
    z-index: 2;
    position: absolute;
    top: 0;
    background: linear-gradient(to bottom, rgba(174, 174, 174, 0) 0%, rgba(174, 174, 174, .1) 60%, rgba(174, 174, 174, 0.5) 65%, rgba(174, 174, 174, 0.95) 90%, rgba(174, 174, 174, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/*main flex container*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282828;
    z-index: 3;
}
/*album with flex properties*/
.album {
    flex: 95%;
    max-width: 95%;
    z-index: 4;
    margin-top: 10px;
}
/*album images properties*/
.album img {
    max-width: 100%;
    max-height: calc(98vh - (3 * 51px) - 10px);
}

/*Navbar*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AEAEAE;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 5;
}

ul.topnav li {
    float: none;
}

ul.topnav li a {
    display: block;
    color: #282828;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #282828;
    color: #AEAEAE;
}

ul.topnav li a.active {
    background-color: #C9C9C9;
}

ul.topnav li.right {
    float: none;
}
/*responsive for screen width. mobile first design*/
@media screen and (min-width: 600px) {
    ul.topnav li.right {
        float: right;
    }

    ul.topnav li {
        float: left;
    }

    .album img {
        max-height: calc(98vh - 51px - 10px);
    }

}

.footer {
    padding: 20px;
    text-align: center;
    background: #AEAEAE;
}